<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
    <li ng-cloak ng-show-auth="login" ng-controller="LoginController"><a href="#" ng-click="logout()">Log Out</a></li>
    <li ng-cloak ng-show-auth="['logout','error']"><a href="#/login">Log In</a></li>
  </ul>
  <h3 class="text-muted">タスク英雄 -TASKAU-</h3>
</div>

<div class="jumbotron">
  <h1>タスク英雄</h1>
  <p class="lead">
    みんなでタスクあう
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">はじめる</a></p>
</div>

<div class="row marketing">
  <h4>タスク英雄とは</h4>
  <p>時は20XX年、世の中には日々の雑多なタスクが現れ、人々ののほほーんとした時間を奪っていった。<br/>
    タスクは山のように現れ、積み残したタスクが新しいタスクを妨害する。<br/><br/>
    そんなタスクに脅かされる日々、ついにあなたは立ち上がった！<br/>
    パーティーを組んで、タスクを処理してゆく。それがタスク英雄だ！</p> 

  <h4>パーティーが組める。</h4>
  <p>タスクは一人のものじゃない！タスク英雄でパーティーを組めば、タスクを友達や家族やメンバーと一緒に処理してゆけるよ！</p>

  <h4>タスクをこなせ！</h4>
  <p>タスクは毎日出てくるぞ！TODO！自分のタスクだけじゃなくて、周りの人のタスクもこなすことで、どんどんタスクポイントがたまるぞ！</p>

  <h4>助けあう、タスクあう</h4>
  <p>将来的にはこんな機能を付けたいぞ！</p>
  <ul>
    <li>通知が来る</li>
    <li>デスクトップに共有</li>
    <li>SMSで通知が来る</li>
    <li>iPhoneから対応</li>
  </ul>
</div>

<div class="footer">
  <p>♥ from the Yeoman team : presented by junsin</p>
</div>
